<template>
  <Layout v-bind:title="title">
    <h1>Edit User</h1>
    <form v-on:submit.prevent="editUser(user.id)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" v-model="user.name">
        <p v-if="errors.name" class="errors">{{ errors.name }}</p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" v-model="user.email">
        <p v-if="errors.email" class="errors">{{ errors.email }}</p>
      </div>
      <button type="submit">Edit</button>
    </form>
  </Layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue'
export default {
  components: { Layout },
  props: {
    title: String,
    user: Object,
    errors: Object
  },
  methods: {
    editUser(id) {
      this.$inertia.put(`/user/${id}`, this.user)
    }
  }
}
</script>

<style>
  .form-group {
    padding: 3px;
  }
  .errors {
    font-size: 14px;
    color: red;
    font-weight: bold;
  }
</style>