<template>
  <Layout v-bind:title="title">
    <h3>User List</h3>
    <inertia-link href="user/create" as="button">Add User</inertia-link>
    <div v-if="$page.props.flash.message" class="alert">
      {{ $page.props.flash.message }}
    </div>
    <ul>
      <li v-for="user in users" v-bind:key="user.id">
        <inertia-link :href="`user/${user.id}`" >{{ user.name }}</inertia-link>
      </li>
    </ul>
  </Layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue'
export default {
  components: { Layout },
  props: {
    'title': String,
    'users': Array
  }
}
</script>