<template>
  <Layout v-bind:title="title">
    <div v-if="$page.props.flash.message" class="alert">
      {{ $page.props.flash.message }}
    </div>
    <h3>{{ user.name }}</h3>
    <h4>Email: {{ user.email }}</h4>
    <inertia-link :href='`/user/${user.id}/edit`' as="button">Edit user</inertia-link>
    <inertia-link href="" @click.prevent="deleteUser(user.id)" as="button">Delete user</inertia-link>
  </Layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue'
export default {
  components: { Layout },
  props: {
    'title': String,
    'user': Object
  },
  methods: {
    deleteUser(id) {
      if (confirm('Delete user?')) {
        this.$inertia.delete(`/user/${id}`)
      } else {
        return false
      }
    }
  }
}
</script>