<template>
  <Layout v-bind:title="title">
    <h3>{{ message }}</h3>
  </Layout>
</template>

<script>
import Layout from '../Shared/Layout.vue'
export default {
  components: { Layout },
  props: ['title', 'message']
}
</script>