<template>
  <Layout v-bind:title="title">
    <h1>This is an index page</h1>
    <h3>{{ message }}</h3>
  </Layout>
</template>

<script>
import Layout from '../Shared/Layout'
export default {
  components: { Layout },
  props: {
    'title': String,
    'message': String
  }
}
</script>