<template>
  <main>
    <header>
      <inertia-link href="/index" as="button">Home</inertia-link>
      <inertia-link href="/user" as="button">Users</inertia-link>
      <inertia-link href="/about" as="button">About</inertia-link>
    </header>
    <article>
      <slot />
    </article>
  </main>
</template>

<script>
export default {
  props: { title: String },
  watch: {
    title: {
      immediate: true,
      handler(title) {
        document.title = title
      }
    }
  }
}
</script>